@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded;
  }
}

body {
  min-height: 100%;
  --webkit-app-select: none;
  --webkit-app-region: drag;
  color: white;
  border-radius: 2rem;
  background-color: rgba(81, 121, 169, 0.196);
}

#__next {
  min-height: 100%;
}

.title {
  -webkit-app-select: none;
  -webkit-app-region: drag;
}

.draggable {
  -webkit-app-region: drag;
}

.editor:focus {
  outline: none;
}

.editor {
  color: white;
  border: none;
  overflow: auto;
  font-size: 1rem;
}

.line-count {
  font-family: monospace;
  font-size: 1rem;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  gap: 0.025rem;
}

.editor::selection {
  background-color: rgba(93, 155, 226, 0.5);
}

.code-bg-blue {
  background-color: rgba(93, 155, 226, 0.153);
}